// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;
$black: #1E1E24;

$purple:#190B4F;
$dark-purple:#0E062C;
$light-purple:#42376F;

$blue: #32BAD0;
$dark-blue: #2999AB;
$light-blue: #57C6D8;
$extra-light-blue: #F4FBFC;

$gray: #98989B;
$dark-gray: #6F6F73;
$light-gray: #C1C1C3;

$orange: #FCAA67;
$dark-orange: #CF8C55;
$light-orange: #FCB982;
