// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;
$light-gray: #F4F4F4;

$purple:#190B4F;
$purple-plus:#0E062C;
$purple-minus:#42376F;

$blue: #32BAD0;
$blue-plus: #2999AB;
$blue-minus: #57C6D8;

$gray: #C1C1C3;
$gray-plus: #98989B;
$gray-minus: #EAEAEB;

$orange: #FCAA67;
$orange-plus: #CF8C55;
$orange-minus: #FCB982;
