<div class="modal fade" id="edit_event_<%= offer.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
        &times;
          </span>
      </button>
        <h4 class="modal-title">Edit Slot</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', offer: offer %>
      </div>
    </div>
  </div>
</div>
