<div class="modal fade" id="edit_event_<%= offer.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="display: flex; justify-content: space-between; padding: 15px;">
        <h4 class="modal-title">Edit Slot</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= render 'form', offer: offer %>
      </div>
    </div>
  </div>
</div>
