<div class="flex form-inline">
  <%= form_tag doctors_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control w-auto",
        placeholder: "Find doctors by a speciality"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
