<div class="flex inline">
  <%= form_tag doctors_path, method: :get do %>
    <div>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find doctors by a speciality"
      %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
