<a href="https://podscomprar-guifl2001.herokuapp.com">
  <div id="banner" class="bg-orange">
    <div class="d-flex special-banner justify-content-around align-items-center">
      <div>
        <%= image_tag('logPods.png') %>
        <!-- <p>Cheapest cancer around. Guaranteed.</p> -->
      </div>
      <div class="special-offer">
        <h3 class="font-bold">SPECIAL OFFER!</h3>
        <p>15% off on first consultation for PodsComprar customers</p>
      </div>
      <div>
        <%= image_tag('logPods.png') %>
        <!-- <p>Change your life. Learn to smoke.</p> -->
      </div>
    </div>
  </div>
</a>
