<div class="container">
  <div class="bg-light">
    <%= render "search_bar" %>
  </div>
  <div class="mt-3">
    <% @doctors.each do |doctor| %>
      <%= link_to "doctor.name", "doctor_path" %>
    <% end %>
  </div>
</div>
