<div class="container">
  <div class="bg-light">
    <%= render "search_bar" %>
  </div>
  <div class="mt-3">
    <ul>
      <% @doctors.each do |doctor| %>
        <ul><%= link_to "#{doctor.user.first_name} #{doctor.user.first_name}", doctor_path(doctor) %></ul>
      <% end %>
    </ul>
  </div>
</div>
