.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-ghost {
  color: $dark-orange;
  border: 2px solid $dark-orange;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: large;
  opacity: 0.6;
  transition: 0.3s ease;
}

.btn-ghost:hover {
  border: 2px solid $orange;
  color: $orange;
  background-color: transparent;
}

.card-flex-btn {
  background-color: #FCAA67;
  border: none;
  border-radius: 5px;
  color: white;
  width: 90%;
  padding: 5px 40px;
  margin: 0px 10px;
}
