.doctor-box {
  background-color: $light-purple;
  height: 100px;
  border-radius: 10px;
  position: relative;
}

.arrow {
  background-color: $light-purple;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  transform: rotate(45deg);
  position: relative;
  top: 15px;
  left: 120px;
}
