.font-blue {
  color: $blue;
}
.font-dark-blue {
  color: $dark-blue;
}
.font-light-blue {
  color: $light-blue;
}
.font-extra-light-blue {
  color: $extra-light-blue;
}

.font-black {
  color: $black;
}

.font-dark-gray {
  color: $dark-gray;
}

.font-bold {
  font-weight: 700;
}
