.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  height: 78px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .navbar-brand {
  width: 180px;
  height: 60px;
  overflow: hidden;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
  margin-top: -63px;
}

.navbar-light .navbar-nav .nav-link {
  color: $light-gray;
  margin-right: 10px;
}

.navbar-pages {
  display: flex;
  align-items: center;
}

.navbar-pages .tabs {
  display: flex;
  align-items: center;
  height: 78px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 160px;
  margin-right: 2px;
  text-align: center;
  justify-content: center;
}

.tab_selected {
  border-bottom: 3px solid $purple;
  font-weight: bold;
  a {
    color: $purple;
  }
}

.dropdown-menu {
  margin: 0.75rem 0 0;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 10rem;
    height: auto;
    border: 2px solid $orange;
    border-radius: 50px;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      margin: 2px;
      width: 2.5rem;
      height: 2.5rem;
      background: $orange;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.62rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.25rem 0;
      padding-top: 0.65rem;
      margin: 0 0 0 1.85rem;
      color: $orange;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 97%;
      .icon {
        &.arrow {
        background: white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}



// #sign-up {
 // flex: 1 1 auto;
  // margin: 10px;
  // padding: 20px;
  // border: 2px solid $orange;
  // text-align: center;
  // text-transform: uppercase;
  // position: relative;
  // overflow: hidden;
  // transition: .3s;
  // &:after {
  //   position: absolute;
  //   transition: .3s;
  //   content: '';
  //   width: 0;
  //   bottom: 0;
  //   background: $orange;
  //   height: 100%;
  //   left: -10%;
  //   transform: skewX(15deg);
  //   z-index: -1;
  // }
  // &:hover {
  //   cursor: pointer;
  //   color: white;
  //   &:after {
  //     left: -10%;
  //     width: 120%;
  //   }
  // }

  // flex: 1 1 auto;
  //   margin: 10px;
  //   padding: 20px;
  //   border: 2px solid #f7f7f7;
  //   text-align: center;
  //   text-transform: uppercase;
  //   position: relative;
  //   overflow:hidden;
  //   transition: .3s;
  //   &:after {
  //     position: absolute;
  //     transition: .3s;
  //     content: '';
  //     width: 0;
  //     left: 50%;
  //     bottom: 0;
  //     height: 3px;
  //     background: #f7f7f7;
  //   }  &:hover {
  //   cursor: pointer;
  //   &:after {
  //     width: 100%;
  //     left: 0;
  //   }
  // }
